@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-for{
  height: auto;
  width: auto;
}
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

.fixado{
  position: fixed;
}

nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.color-icon{
  color:#fff;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}

.content { 
  text-align: center;
  width: 100%;
  padding: 0px 30px;
  color: #1b1b1b;
}

.separador{
  padding: 20px 0px;
  width: 80%;
  margin: 0% 10%;
  border-width: 1cm;
  border-bottom: solid;
  border-color: #000000;
}

.content div {
  font-size: 40px;
  font-weight: 700;
}


.produtos {
  top: 160%;
  left: 50%;
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}

.lista_produtos {
  text-align: center;
  width: 40%;
  margin: 0% 30%;
  color: #1b1b1b;
}

.title-table{
  border-width: 2px;
  border-bottom: solid;
  border-color: rgb(0, 0, 0);
}

.produtora {
  display: block;
  text-align: center;
  padding: 0 30px;
  color: #000000;
  
}

.informacao {
  top: 150%;
  left: 50%; 
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}

.informacao div {
  font-size: 40px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: 16%;
  height: 450px;
  margin: 15px;
  border-radius: 28px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 -15px 0 #fff, inset 0 0 rgb(255 255 255 / 25%), 0 15px 0 rgb(0 0 0 / 15%);
  overflow: hidden;
  display: inline;
  justify-content: center;
}

.card::before {
  content: "";
  top: -140px;
  left: -40%;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}
.card:nth-child(1) {
  background: linear-gradient(to bottom, #020500, #448289);
}

.card:nth-child(2) {
  background: linear-gradient(to bottom, #020500, #448289);
}
.card:nth-child(3) {
  background: linear-gradient(to bottom, #020500, #448289);
}
.card:nth-child(4) {
  background: linear-gradient(to bottom, #020500, #448289);
}
.card:nth-child(5) {
  background: linear-gradient(to bottom, #020500, #448289);
}

.icon {
  position: relative;
  justify-content: center;
  width: 140px;
  height: 120px;
  background: #000000;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-top: 10px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1) inset 0 -8px 0 #fff;
  z-index: 1000;
  justify-content: center;
}

.icon ion-icon {
  color: #fff;
  position: relative;
  font-size: 2em;
  z-index: 1000;
  --ionicon-stroke-width: 24px;
}

.content_card {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.content_card h2 {
  font-size: 0.65em;
  color: #fff;
  margin-bottom: 10px;
}
.content_card p {
  color: #fff;
  line-height: 1.5em;
  font-size: 0.45em;
}